//color-names
$white: #ffffff;
$whitesmoke: #f5f5f9;
$darkslategray: #48494d;
$crimson: #d12136;
$firebrick: #bd0c21;

//color-types
$major-bg: $white;
$minor-bg: $whitesmoke;
$navigation-font: $darkslategray;
$accent: $crimson;
$additional-accent: $firebrick;
